* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
input:focus, button:focus {
  outline: none;
}
body {
  font-family: 'Lato', sans-serif;
}

.container-full {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fff;
}
.header {
  width: 100%;
  height: 50px;
  background-color: #333333;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.header .title {
  font-size: 20px;
  margin: 0;
  padding: 11px 20px;
}
.main-content {
  display: flex;
  flex: 1;
}
.col-left, .col-right {
  width: 300px;
  background-color: #333333;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
}
.col-primary {
  flex: 1;
  background: url(../images/tiny_grid.png);
}
.col-right {
  padding: 0;
  overflow-y: auto;
}
.col-right form {
  width: 100%;
}
.form-action {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrap-content {
  flex: 1;
  overflow-y: scroll;
}
.wrap-bottom {
  padding: 20px;
}

/* Component */

.form-search {
  position: relative;
}
.button-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  background: none;
  border: none;
  cursor: pointer;
}
.form-group {
  margin-bottom: 15px;
}
.form-group.inline {
  display: flex;
  align-items: center;
}
.form-group.inline .form-label {
  margin-right: 15px;
}
.form-label {
  margin-bottom: 5px;
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
}
.form-input {
  width: 100%;
  height: 36px;
  background: #333;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  padding: 10px 15px;
  font-size: 13px !important;
  color: rgba(255, 255, 255, 0.7);
}
textarea.form-input {
  min-height: 100px;
  resize: vertical;
}
select.form-input {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  background: url(../images/arrow.svg) no-repeat right center;
  background-size: 29px;
  background-color: #333;
}
.form-input[type="range"] {
  padding: 10px 0;
  border: none;
}
.checkbox, .radio {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  margin-bottom: 20px;
}
.checkbox-inline label+ label, .radio-inline label+ label {
  margin-left: 20px;
}
.form-fieldset {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 5px;
  padding-top: 15px;
}
.form-legend {
  padding: 0 7px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
}
.form-fieldset .form-group {
  padding-left: 7px;
}

/* List result */

.list-result {
  padding: 0;
  list-style: none;
  margin-top: 30px;
}
.list-result .list {
  border-radius: 3px;
  border: 1px dashed #fff;
  padding: 10px;
  font-size: 12px;
  display: flex;
  z-index: 102;
}
.list-result .list:hover {
  cursor: pointer;
}
.list-result .list+ .list {
  margin-top: 15px;
}
.list-result .list .area-image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 10px;
  width: 50px;
}
.list-result .list .image {
  max-width: 100%;
  height: auto;
}
.list-result .list .area-content {
  flex: 1;
  margin-top: -3px;
}
.list-result .list .link {
  color: #22b8eb;
  text-decoration: none;
  cursor: pointer;
}
.list-result .list .desc {
  margin-top: 10px;
  color: #fff;
}

/* Need to removed when dev app */

.demo {
  padding: 20px;
  font-size: 20px;
  color: #111;
}

/* End */

.button-start {
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #22b8eb;
  color: #FFF;
  border: none;
  transition: background-color .3s ease;
}
.button-start:hover {
  cursor: pointer;
  background-color: #1a95bf;
}

/* Webkit Scrollbar */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #222222;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Bottom */

.bottom-content {
  min-height: 50px;
  height: 90px;
  background-color: #222222;
  position: relative;
  top: auto !important;
}

/*.bottom-content .dragbar {
    position: absolute;
    height: 10px;
    width: 100%;
    cursor: row-resize;
    top: -5px;
}*/

.bottom-content .tabs {
  width: 200px;
  float: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.bottom-content .tabs li {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #1c1c1c;
}
.bottom-content .tabs li.current {
  background-color: #131313;
}
.bottom-content .tab-content {
  display: none;
  overflow: hidden;
  height: 100%;
  padding: 10px 10px 10px 20px;
  font-size: 14px;
  line-height: 22px;
  overflow-y: auto;
}
.bottom-content .tab-content.current {
  display: inherit;
}
.cmd {
  display: flex;
}
.cmd .typing-cmd {
  flex: 1;
}
.cmd input {
  width: 100%;
  border: none;
  background: none;
  color: #fff;
}

/* Accordion */

.accordion-heading {
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  background: #222222;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.accordion-heading .title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #fff;
}
.accordion-heading .icon-toggle {
  width: 15px;
  position: relative;
  display: block;
}
.accordion-heading .icon-toggle:before {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background-color: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -7px;
}
.accordion-heading .icon-toggle:after {
  content: "";
  display: block;
  width: 15px;
  height: 1px;
  background-color: #fcfcfc;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -7px;
}
.accordion-heading .icon-toggle.open:before {
  opacity: 0;
}
.accordion-content {
  padding: 10px 10px;
}
.accordion-content {
  display: none;
}
.btn-getstarted {
  position: absolute;
  bottom: 9px;
  z-index: 1000;
  width: 232px;
  right: 11px;
}
.ui-draggable {
  z-index: 101;
}
.loop-canvas {
  height: 100%;
}

/* ui-widget override */

.ui-widget.ui-widget-content {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  background: transparent;
}
.ui-tabs .ui-tabs-nav {
  min-height: 39px;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #555;
  border-color: #555;
}
.ui-tabs .ui-tabs-panel {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: #555;
}
#tabs-itops {
  color: #fff;
}
.ui-widget.ui-widget-content.dialog-subworkflow {
  background: #fff;
}
#myCanvas {
  height: calc(100vh - 140px);

}
.imageDraggableHelper {
  width: 238px;
  background: #333;
}
#operation {
  font-size: 28px;
}
#network-popUp {
  display: none;
  position: absolute;
  top: 350px;
  left: 170px;
  z-index: 299;
  width: 250px;
  height: 120px;
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 3px;
  border-color: #5394ed;
  padding: 10px;
  text-align: center;
}
.no-result, .searching {
  color: #fff;
}
